<!DOCTYPE html>
<html>
<head>
	<title>Boredeaux</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"></head>
<body>
Zidane was transferred to Girondins de Bordeaux in the 1992–93 season, winning the 1995 Intertoto Cup after beating Karlsruhe,[27][28] and finishing runner-up against Bayern Munich in the 1995–96 UEFA Cup,[28][29][30] in four years with the club. He played a set of midfield combinations with Bixente Lizarazu and Christophe Dugarry, which would become the trademark of both Bordeaux and the 1998 French national team. In 1995, Blackburn Rovers manager Kenny Dalglish had expressed interest in signing both Zidane and Dugarry, to which team owner and chairman Jack Walker reportedly replied, "Why do you want to sign Zidane when we have Tim Sherwood?"[31] Also towards the beginning of the 1996 season, according to football agent Barry Silkman, Zidane was offered to Newcastle United for £1.2 million, but the club turned down the offer after watching him, claiming that he was not good enough for the English First Division.[32] In 1996, Zidane received the award for Ligue 1 Player of the Year.
</body>
</html>