<!DOCTYPE html>
<html>
<head>
	<title>Cannes</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"></head>
<body>

<h1><u>Cannes</u></h1>
Zidane went to AS Cannes for a six-week stay, but ended up remaining at the club for four years to play at the professional level. Having left his family to join Cannes, he was invited by Cannes Director Jean-Claude Elineau to leave the dormitory he shared with 20 other trainees and to come and stay with him and his family. Zidane later said that while living with the Elineaus he found equilibrium.

It was at Cannes where Zidane's first coaches noticed that he was raw and sensitive, prone to attack spectators who insulted his race or family. His first coach, Jean Varraud, encouraged him to channel his anger and focus on his own game. Zidane spent his first weeks at Cannes mainly on cleaning duty as a punishment for punching an opponent who mocked his ghetto origins. The occasional violence that he would display throughout his career was shaped by an internal conflict of being an Algerian-Frenchman suspended between cultures, and surviving the tough streets of La Castellane where he grew up.

Zidane made his professional debut with Cannes on 18 May 1989 in a French Division 1 match against Nantes. He scored his first goal for the club on 10 February 1991[24] also against Nantes in a 2–1 win. After the match during a party for all the Cannes players, Zidane was given a car by Cannes Chairman Alain Pedretti, who had promised him one the day he scored his first goal for the club. On the pitch, Zidane displayed extraordinary technique on the ball, offering glimpses of the talent that would take him to the top of the world game. In his first full season with Cannes, the club secured its first ever European football berth by qualifying for the UEFA Cup after finishing fourth in the league. This remains the club's highest finish in the top flight since getting relegated for the first time from the first division in the 1948–49 season.

</body>
</html>