<!DOCTYPE html>
<html>
<head>
	<title>France</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"></head>
<body>

<p1> Here is mentioned the most important aspects of Zidane's international career and not all of it!</p1>

<h1><u> Wordl Cup 1998 </u></h1>

<p2> The 1998 FIFA World Cup was the first World Cup that Zidane participated in. It was held in his home country France. The French team won all three games in the group stage but Zidane was sent off in the second match against Saudi Arabia for a stamp on Fuad Anwar, becoming the first French player to receive a red card in a World Cup Finals. Without their playmaker France proceeded to win 1–0 in the last sixteen game against Paraguay and, on his return to the side, defeated Italy 4–3 on penalties after a goalless draw in the quarter-finals. France then defeated Croatia 2–1 in the semi-final. Zidane played a major role in the team's accomplishment, though he had yet to score a goal at the World Cup.

Zidane and France went on to play against defending champions and favourites Brazil at the Stade de France in the 1998 FIFA World Cup Final. France dominated Brazil from the kick-off, with Zidane scoring two similar goals, both headers from corner kicks taken by Emmanuel Petit and Youri Djorkaeff. Courtesy of Zidane's two goals, France went into the half-time break 2–0 up with one hand already on the World Cup trophy.[3] Petit added a third goal deep in stoppage time to seal the 3–0 win and France's first ever World Cup. Zidane became an instant national hero, and over one million people celebrated the victory on the Champs-Élysées where a huge image of Zidane was projected on the Arc de Triomphe along with the words "Merci Zizou". </p2>

<h1><u>Euro 2000</u></h1>
<p3> Two years later France won Euro 2000, becoming the first team to hold both the World Cup and the European Championship since West Germany in 1974. Zidane finished with two goals, a memorable bending free kick against Spain in the quarter-final[58] and the golden goal in the semi-final against Portugal by way of a penalty, and was named Player of the Tournament by UEFA.
</p3>




</body>
</html>